@font-face {
    font-family: OldLondon;
    src: url(OldLondon.ttf);
}

body {
	background-color: #000000;
	margin: 0;
}

a, a:link, a:hover, a:visited, a:active {
	text-decoration: none;
	color: inherit;
}

.container {
	position: relative;
	width: 100vw;
	max-width: 100%;
	height: 98vh;
}

.bg-left {
	opacity: 1;
	transition: opacity .25s;
	left: 0;
	position: fixed;
	min-height: 100vh;
	max-width: 8vw;
	overflow: hidden;
}

.bg-right {
	opacity: 1;
	transition: opacity .25s;
	right: 0;
	position: fixed;
	min-height: 100vh;
	max-width: 8vw;
	overflow: hidden;
}

.bg-image {
	min-height: 100vh;
}

.content {
	max-height: 90vh;
	width: 100%;
	position: absolute;
	top: 50%;
	transform: translateY(-50%);
}

.logo-wrapper {
	margin: 0 auto;
	width: 80%;
	max-width: 670px;
	max-width: 80vh;
	transition: width .3s;
}

.logo {
	margin: 0 auto;
	width: 100%;
}

.god {
	display: block;
	width: 35%;
	margin: 0 auto;
	margin-top: -15%;
}

.info {
	text-align: center;
	font-family: OldLondon;
	font-size: 3.2vmax;
	font-size: 5vmin;
	color: #FFFFFF;
	margin: 0 auto;
	margin-top: 2%;
}

@keyframes nowplaying {
	from {color: #FFFFFF;}
	to {color: #ffb3b3;}
}

.np {
	font-size: auto;
	font-size: 6vmin;
	margin-top: .5%;
	position: absolute;
	top: 0;
	width: 100%;
	animation-name: nowplaying;
	animation-duration: 1s;
	animation-direction: alternate-reverse;
	animation-iteration-count: infinite;
}

.hidden {
	display: none;
}

.info-link {
	border-bottom: #FFFFFF 2px dashed;
	transition: color .5s;
	-moz-display: inline-block;
	-moz-padding-bottom: .5%;
}

.info-link:hover {
	cursor: pointer;
	color: #ffb3b3;
}

.player {
	display: block;
	transition: height .75s;
	margin: 0 auto;
	margin-top: 10px;
	height: 150px /* permanent height of mixlr embed minus the bottom strip (30px) */;
	width: 80%;
	max-width: 600px;
}

.min {
	height: 0;
}

/*@media only screen and (max-width: 850px) {
	.logo-wrapper {
		max-width: 80vw;
	}
}

@media only screen and (max-height: 500px) {
	.logo-wrapper {
		max-width: 100vh;
	}
}*/

@media only screen and (max-width: 500px) {
	.bg-left, .bg-right {
		opacity: 0;
	}
	.logo-wrapper {
		width: 90%;
	}
	.player {
		width: 100%;
	}
}